@mixin white-font($size, $weight){
  color: #FFF;
  font-size: $size;
  font-weight: $weight;
}

$grey25: rgba(0, 0, 0, 0.25);
$grey50: rgba(0, 0, 0, 0.50);
$grey75: rgba(0, 0, 0, 0.75);

$white25: rgba(255, 255, 255, 0.25);
$white50: rgba(255, 255, 255, 0.50);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

#app {
  background-image: url('../assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s;
}

#app.warm {
  background-image: url('../assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, $grey25, $grey75);
}

.search-box {
  width: 100%;
  margin-bottom: 30px;

  .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    color: #313131;
    font-size: 20px;

    appearance: none;
    border: none;
    outline: none;
    background: none;

    box-shadow: 0px 0px 8px $grey25;
    background-color: $white50;
    border-radius: 0px 16px;
    transition: 0.4s;

    &:focus {
      box-shadow: 0px 0px 16px $grey25;
      background-color: $white25;
      border-radius: 16px 0px;
    }

  }
}

.location-box {
  text-align: center;

  .location {
    @include white-font(50px, 500);
    text-shadow: 1px 3px $grey25;
  }

  .date {
    @include white-font(20px, 100);
    font-style: italic;
  }
}

.weather-box {
  text-align: center;

  .temperature {
    @include white-font(110px, 900);
    display: inline-block;
    padding: 10px 25px;

    text-shadow: 3px 6px $grey25;
    background-color: $white25;
    border-radius: 16px;
    margin: 30px 0px;

    box-shadow: 3px 6px $grey25;
  }

  .weather {
    @include white-font(48px, 700);
    font-style: italic;
    text-shadow: 3px 6px $grey25;
  }
}
